html {
    font-family: 'Montserrat', sans-serif;
}

/* title */
#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: 'Ubuntu';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

/* nav bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 3rem;
    /* margin-right: 80%;
    margin-left: -140px; */
    margin: 0 50% 0 -20%;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

/* download buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    transform: rotate(25deg);
    position: absolute;
    width: 22%;
    right: 30%;
}

/* section features */
#features {
    position: relative;
    background-color: #fff;
}

#features h3 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.red-icon {
    font-size: 4rem;
    padding: 4.5%;
    color: #ef8172;
}

.red-icon:hover {
    color: #ff4c68;


}

.feature {
    padding: 7% 15%;
    text-align: center;
}

.feature p {
    color: #8f8f8f;
}

.feature div {
    padding-top: 60px;
}

/* testimonial section - carousel */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

#testimonials .carousel-item {
    padding: 7% 15%;
}

/* press */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing - bootstrap cards */
#pricing {
    padding: 100px;
}

#pricing .btn {
    width: 100%;
}

.pricing-column {
    padding: 3% 2%;
}

/* cta section */
#cta {
    text-align: center;
    background-color: #ff4c68;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 15%;
}

#cta h3 {
    font-weight: 900;
    font-size: 3rem;
}

#cta .btn {
    margin: 100px 20px;
}

#footer {
    padding: 9% 0 4%;
    text-align: center;
}

#footer i {
    margin: 10px;
}

/* media queries */
@media (max-width: 1025px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
        width: 60%;

    }
}